.menu {
    width:auto;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
}
.nav-links {
    list-style: none;
    display: flex;
    margin-left: 5px;
    padding: 0px;
    position: sticky;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #555;
}
.btn a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 4px;
    position: sticky;
}
.btn-login {
    border: 1.5px solid #444; /* Viền màu xám trung tính */
    color: #555;
    padding: 8px 20px;
    border-radius: 8px; /* Bo góc vừa phải */
    transition: all 0.3s ease;
    margin-right: 5px;
}
.btn-login:hover {
    color: #000;
    border-color: #000;
    background-color: #f8f9fa;
}
.btn-signup {
    color: white;
    background-color: #007bff;
    padding: 10px 22px;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    font-weight: 600;
    box-shadow: 0 4px 16px rgba(0,123,255,0.3);
    transition: transform 0.2s;
}
.btn-signup:hover {
    transform: rotateY(-2px);
    background-color: #005bff;
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.4);
}
.page {
    border-bottom: 1.5px solid #ececec;
    border-radius: 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.page h1 {
    text-align: center;
    color:#007bff;
    margin-top: 12px;
}
.page h2 {
    text-align: left;
    margin-left: 8px;
}
.page h3 {
    text-align: left;
    margin-left: 8px;
}
.page p {
    text-align: left;
    margin-left: 8px;
}
.container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body {
    background-color: whitesmoke;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Tạo khoảng cách giữa các ô */
    background: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #005bff; /* Màu hồng Hare cho dễ thương nè */
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}